@model Universidade.Contoso.Dominio.Entidades.Instructor

@{
    ViewBag.Title = "Inclusão";
    Layout = "~/Views/Shared/" + ViewBag.Tema + ".cshtml";
}

<div class="container jumbotron">
    <h2>Inclusão</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Professor</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.FirstMidName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstMidName)
                @Html.ValidationMessageFor(model => model.FirstMidName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.HireDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HireDate)
                @Html.ValidationMessageFor(model => model.HireDate)
            </div>
            <p>
                <input type="submit" value="Gravar" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>

</div>
@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
